<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grandi.bambino.materialdesinghomework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homework3.AppBarDemo"
            android:label="ActionBar"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".homework3.NoToolbarActivity"
            android:theme="@style/AppTheme.NoToolBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homework3.ButtonsActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".homework2.EditTextDemo" />
        <activity android:name=".homework2.SnackBarDemo" />
        <activity android:name=".homework2.SheetsBottomDemo" />
    </application>

</manifest>